@mixin responsive($breakpoint) {
  @if $breakpoint== xs {
    @media (max-width: 575.98px) {
      @content;
    }
  }

  @if $breakpoint== sm {
    @media (min-width: 576px) and (max-width: 767.98px) {
      @content;
    }
  }

  @if $breakpoint== md {
    @media (min-width: 768px) and (max-width: 991.98px) {
      @content;
    }
  }

  @if $breakpoint== lg {
    @media (min-width: 992px) and (max-width: 1199.98px) {
      @content;
    }
  }

  @if $breakpoint== xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

.login__over {
  outline: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  background-image: url(../../assets/img/authBackground.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.login__wrapper {
  position: absolute;
  // top: 4.8rem;
  width: 100%;
  max-width: 60rem;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px,
    rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
  margin: 3.2rem;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: calc(100% - 6.4rem);
  padding: 1.6rem;

  @include responsive(xs) {
    max-width: 90%;
  }
}

.arrow__back {
  font-size: 24px;
  align-self: start;
  padding: 2px 8px;

  &:hover {
    color: var(--primaryColor);
  }
}

.login__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.6;
  padding: 1.6rem 2.4rem;
  flex: 0 0 auto;
}

.login__form {
  max-width: 70%;
  min-width: 70%;

  @include responsive(xs) {
    max-width: 95%;
    min-width: 95%;
  }

  @include responsive(sm) {
    max-width: 75%;
    min-width: 75%;
  }
}

.login-form-forgot {
  float: right;
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 50%;
  background: var(--primaryColor);
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.8rem;
  padding: 2.4rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-2px);
    background: var(--primaryColor) !important;
    opacity: 0.8;
  }
  &:active {
    transform: unset;
    opacity: unset;
  }
}

.login__or {
  padding: 1.6rem 2rem;
  color: #898989;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0px;
  flex-shrink: 0;
  display: flex;
  white-space: nowrap;
  text-align: center;
  border: 0px;

  &::after,
  &::before {
    position: relative;
    width: 100%;
    border-top: thin solid rgba(0, 0, 0, 0.12);
    top: 50%;
    content: "";
    transform: translateY(50%);
  }
}

.login__ortext {
  margin: 0 1rem;
  display: inline-block;
}

.login__toregister {
  text-align: center;
  margin-top: 2rem;
}

.login__toregisterlink {
  cursor: pointer;
  color: rgb(26, 218, 195);
}

.btn_login-google {
  cursor: pointer;
  align-items: center;
  display: flex;
  margin: auto;
  background-color: #4185f4;
  padding: 0.2rem;
  border-radius: 0.4rem;
  transition: all 0.4s ease-in-out;

  & > svg {
    font-size: 3.5rem;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 0.4rem;
  }

  & > p {
    font-size: 1.6rem;
    font-family: var(--font-family);
    font-weight: 500;
    color: #fff;
    margin: 0 1rem;
  }

  &:hover {
    transform: translateY(-0.6rem);
    box-shadow: 0 4px 10px rgb(192 210 235 / 50%);
  }
}

.close-forget-pass {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 10px #a4a4a4;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: auto;

  &:hover {
    transform: translateY(-2px);
  }
  &:active {
    transform: unset;
  }
}

.forgot-pass__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.6;
  padding: 1.6rem 2.4rem;
  text-align: center;
}

.forgot-pass__form {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 12px 0;
  margin-bottom: 16px;

  & > label {
    font-size: 18px;
    font-weight: 500;
  }
}

.reset-password__item label {
  color: #313334;
  font-size: 16px;
  font-weight: 600;
  margin: 8px;
}